@import '~antd/dist/antd.variable.min.css';

.wrap(@border-color: #333333) {
  background-color: #efefef;
  padding: 10px;
  border: 1px dashed @border-color;
  border-radius: 8px;
  max-width: 100vw;
}

.react_umd_demo_container {
  .wrap();

  .flex {
    display: flex;
    align-items: center;
  }
}

.error {
  .wrap(#ff3333);
}
